*{
    margin: 0;
    padding: 0;
}
canvas{
    position:absolute;
    border:1px solid #000000;
}
#par{
    padding: 10px;
}
#canvas1 { z-index: 1; }
#canvas2 { z-index: 2; }
#canvas3 { z-index: 3; }
#canvas4 { z-index: 4; }
#canvas5 { z-index: 5; }